<?xml version="1.0"?>

<launch>

	<arg name="model" default="$(find nuric_wheelchair_model_02)/urdf/wheelchair.urdf.xacro" />
	<param command="$(find xacro)/xacro.py $(arg model)" name="robot_description"/>

	<arg name="rvizconfig" default="$(find nuric_wheelchair_model_02)/config/wheelchair_urdf.rviz" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description
                -unpause
                -urdf
                -model robot_description"
          respawn="false" output="screen" />

	<!-- start robot state publisher -->
  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" respawn="false" output="screen" />


	<param name="use_gui" value="false"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />



</launch>
